<p style="text-align: center; background-color: transparent;">
  <a href="{{site.baseurl}}/">Home</a> |
  <!--<a href="{{site.baseurl}}/schedule">Schedule</a> |
  <a href="{{site.baseurl}}/schedule2022">Schedule</a> |
  <a href="{{site.baseurl}}/assignment">Assignment</a> |-->
  <a href="{{site.baseurl}}/selection2024">Image selection</a> |
  <a href="{{site.baseurl}}/paradigms">Experimental paradigms</a> |
  <a href="{{site.baseurl}}/codingtrain">Creative coding with p5.js</a> <!--|
  <a href="https://editor.p5js.org">editor.p5js.org</a> |
  <a href="{{site.baseurl}}/graduationLab">Graduation lab</a> -->
</p>
