---
---

@import "{{ site.theme }}";

.page-header {
  color: white;
  text-align: center;
  background-color: white;
  background-image: linear-gradient(0deg, #f08080, #80f0f0)
  }

  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color:#072578
}